@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* font-family: "Open Sans", sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Shared style */
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

.btn-primary {
  background-color: #fd6e0a;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 18px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.section-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

.item-title {
  font-size: 14px;
  font-weight: 400;
}

.item-description {
  font-size: 20px;
  font-weight: 700;
}

/* header> nav style */
.header {
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-repeat: no-repeat;
  background-position: left, bottom right;
  background-color: #fff8f3;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
  padding-top: 50px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
nav .title {
  font-size: 45px;
  font-weight: 800;
}

/* header> banner style */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 45px 0 200px;
}

.banner .banner-content {
  margin-top: 215px;
  margin-bottom: 5px;
}

.banner .title-greetings {
  font-size: 45px;
  font-weight: 600;
}

.banner .banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner .banner-description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.banner button {
  margin-right: 30px;
}

/* main about style  */
main {
  margin: 130px 230px;
}

main .about {
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff8f3;
  padding: 130px 150px;
}

main section h3 {
  text-align: center;
  margin-bottom: 30px;
}

main section > p {
  margin-bottom: 30px;
  text-align: center;
}

main .about-items {
  display: flex;
  justify-content: space-around;
}

main .about-items .about-item {
  text-align: center;
}

/* main skills style  */
main .skills {
  align-items: center;
  max-width: 1140px;
  margin: 130px auto;
}

main .skills-container {
  display: flex;
  margin-top: 50px;
  gap: 20px;
}

main .skill {
  padding: 30px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.069);
}

main .skill img {
  margin-bottom: 30px;
}

main .skill h4 {
  margin-bottom: 20px;
}

/* resume section style */
.resume-container {
  display: flex;
  gap: 24px;
}

.resume-column-title {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  margin-top: 100px;
}

.resume-container .experiance-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 30px;
}

.resume-container .experiance-sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.resume-container .experiance-description {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
  margin-top: 50px;
}

/* Footer section style*/
footer {
  background-color: #fff8f3;
  display: flex;
  gap: 115px;
  padding: 130px 230px;
}

footer .item-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

footer .footer-insta-image {
  margin-left: 24px;
  margin-right: 24px;
}

footer .section-title {
  margin-bottom: 28px;
}

footer input[type="text"],
input[type="email"] {
  height: 64px;
  width: 100%;
  margin-bottom: 24px;
  padding-left: 30px;
  border: none;
  border-radius: 5px;
  color: white;
}

footer textarea {
  width: 100%;
  padding-top: 18px;
  padding-left: 30px;
  border: none;
  border-radius: 5px;
  color: white;
}

footer input[type="submit"] {
  margin-top: 24px;
  margin-bottom: 130px;
}
